<div class="btm-nav shadow-2xl">
  <li routerLinkActive="active">
    <a routerLink="dashboard">
      <fa-icon class="icon fa-xl" [icon]="faHome"></fa-icon>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="tasks">
      <fa-icon class="icon fa-xl" [icon]="faListCheck"></fa-icon>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="calender">
      <fa-icon class="icon fa-xl" [icon]="faCalendar"></fa-icon>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="profile">
      <fa-icon class="icon fa-xl" [icon]="faUser"></fa-icon>
    </a>
  </li>
</div>
