<div class="btm-nav shadow-2xl">
  <li routerLinkActive="active" routerLink="dashboard">
    <fa-icon class="icon fa-xl" [icon]="faHome"></fa-icon>
  </li>
  <li routerLinkActive="active" routerLink="tasks">
    <fa-icon class="icon fa-xl" [icon]="faListCheck"></fa-icon>
  </li>
  <li routerLinkActive="active" routerLink="calender">
    <fa-icon class="icon fa-xl" [icon]="faCalendar"></fa-icon>
  </li>
  <li routerLinkActive="active" routerLink="profile">
    <fa-icon class="icon fa-xl" [icon]="faUser"></fa-icon>
  </li>
</div>
