@import "src/assets/styles/library.scss";

.e-calendar,
.e-bigger.e-small .e-calendar {
  max-width: max-content;
}
::ng-deep .e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background: #eee;
  border: 1px solid $secondary !important;
  color: $primary !important;
}
::ng-deep .e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background: none;
  border: 1px solid $primary;
  border-radius: 50%;
  color: $primary;
}

::ng-deep .e-calendar .e-content td.e-today.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
  background-color: $primary;
  border: 1px solid $primary;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

::ng-deep .e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background-color: $primary;
  border: 1px solid $primary;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

::ng-deep .e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background: none;
  border: 1px solid $primary;
  border-radius: 50%;
  color: $primary;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  color: $primary;
}
::ng-deep td.e-selected span.e-day {
  background-color: $primary !important;
}
::ng-deep .e-calendar .e-content span.e-day,
.e-bigger.e-small .e-calendar .e-content span.e-day {
  font-size: 18px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  width: 40px;
  @apply m-3;
}
.calender-class {
  @apply dark:bg-dark2 rounded-md dark:text-white;
  .e-footer-container {
    @apply dark:bg-dark2 dark:text-white;
  }
}

.e-calendar .e-header .e-title,
.e-bigger.e-small .e-calendar .e-header .e-title {
  color: #fff;
}

::ng-deep .e-calendar th,
.e-bigger.e-small .e-calendar th {
  color: #fff;
}
::ng-deep .e-calendar .e-content span,
.e-bigger.e-small .e-calendar .e-content span {
  color: #fff;
}
@layer utilities {
  .app-btn-dark {
    @apply btn btn-ghost  text-white bg-gray-800;
    &:hover {
      @apply bg-gray-900;
    }
  }
}