<div class="p-2">
  <ejs-calendar #calendar class="calender-class" (change)="onCellClick($event)"></ejs-calendar>
  <h1 class="app-heading my-5">Tasks for the day</h1>
  <div *ngIf="tasks && tasks.length">
    <div
      class="flex gap-3 xsm:overflow-x-scroll scrollbar-hide lg:flex-wrap"
      *ngIf="tasks.length"
    >
      <pro-tasker-tasks
        [task]="item"
        *ngFor="let item of tasks"
      ></pro-tasker-tasks>
    </div>
  </div>
  <div>
    <div *ngIf="tasks">
      <h1 class="app-paragraph text-center" *ngIf="!tasks.length">
        No tasks found
      </h1>
    </div>
    <div class="my-5 flex justify-center items-center">
      <pro-tasker-create-task></pro-tasker-create-task>
    </div>
  </div>
</div>
