<label [for]="task.id">
  <div
    class="task-card p-2"
    *ngIf="task"
    [ngClass]="getCategoryClassName(task.categoryId)"
  >
    <h1 class="app-sub-heading">{{ categories[task.categoryId] }}</h1>
    <div class="h-24">
      <h1 class="app-heading-card break-all">
        {{ validation.truncateText(task.name, 20) }}
      </h1>
    </div>
    <div class="app-paragraph-card h-20">
      {{ validation.truncateText(task.description, 40) }}
    </div>
    <div class="flex justify-end my-5">
      <fa-icon class="icon fa-xl" [icon]="faCircleCheck"></fa-icon>
    </div>
  </div>
</label>

<!-- view in details -->

<input type="checkbox" [id]="task.id" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box text-white" [ngClass]="getCategoryClassName(task.categoryId)">
    <h3 class="font-bold app-heading-simple-card text-lg">{{ task.name }}</h3>
    <div class="py-2 flex ">
      <p class="app-paragraph-card text-lg">{{ task.startDate }}</p>
    </div>
    <p class="pb-4 app-paragraph-card text-2xl">
      {{ task.description }}
    </p>
    <div class="modal-action">
      <label class="app-btn-white-outline">mark as done</label>
      <label [for]="task.id" class="app-btn-white-outline">close</label>
    </div>
  </div>
</div>
